body {
    margin: 0;
  }
  
  .registration-container,
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #7fffd4, #00bfff);
  }
  section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  h1 {
    font-weight: 400;
  }
  .personalization {
    box-sizing: border-box;
    width: 500px;
    height: 700px;
    padding: 30px 80px;
    border-radius: 20px;
    background: #fff;
  }
  
  .section-middle,
  .section-bottom {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .header,
  .registration-form,
  .personalization {
    text-align: center;
  }
  
  .registration-form label,
  .personalization label {
    display: block;
    margin-bottom: 13px;
    text-align: center;
  }
  
  .registration-form input[type="text"],
  .personalization input[type="text"] {
    width: 300px;
    padding: 5px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .personalization {
    padding-bottom: 20px;
  }
  
  .personalization-form label:last-child {
    margin-bottom: 0;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #fff;
    background: #4caf50;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }
  